<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Super Awesome</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>

  <body class="container">
    <button id="gimme-kitten" type="button" class="btn btn-primary">Gimme a kitten</button>
    <img id="kitten" src="" class="img-fluid" alt="Responsive image">
  </body>

  <script>
    const kittenBtn = document.querySelector('#gimme-kitten');
    const kittenBImg = document.querySelector('#kitten');

    kittenBtn.addEventListener('click', onGimmeKittenClick);

    function onGimmeKittenClick(event) {
      fetch('/api/kitten')
        .then(res => res.json())
        .then(resp => {
          console.log('Click', resp);
          kittenBImg.src = resp;
        })
    }
  </script>
</html>